<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Couponify - Add New Issuer!</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("/images/hero_1.jpg");
        }
        .content-container {
            margin-top: 70px; /* Adjust this value to match the spacing */
        }
        .form-group {
            position: relative;
        }
        .save-button {
            display: block;
            margin-top: 10px; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
    <div class="container content-container">
        <div th:replace="fragment/header"></div>
        <h2 class="text-center">Add New Issuer</h2>
        <form th:action="@{/issuer/save}" method="post" th:object="${issuer}">
            <!-- Hidden field for Issuer ID -->
            <input type="hidden" th:field="*{issuerID}" />

            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="issuer_name">Name:</label>
                    <input id="issuer_name" type="text" class="form-control" th:field="*{name}" />
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="issuer_username">Username:</label>
                    <input id="issuer_username" type="text" class="form-control" th:field="*{username}" />
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="issuer_email">Email:</label>
                    <input id="issuer_email" type="email" class="form-control" th:field="*{email}" />
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="issuer_password">Password:</label>
                    <input id="issuer_password" type="password" class="form-control" th:field="*{password}" />
                    <button type="submit" class="btn btn-primary save-button">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
