<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Couponify - Watch List</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div th:replace="fragment/header"></div>
		<br>
		<br>
		<br>
		<main>
			<div class="container ">
				<div class="row fs-1 text-center">
					<p>	Watch List</p>
					<div th:if="${updateSuccess}">
						<div class="alert alert-success" role="alert">
							Cart coupon updated successfully!
						</div>
					</div>
					<div th:if="${updateError}">
						<div class="alert alert-danger" role="alert">
							Not Enough Quantity!
						</div>
					</div>
					<div th:if="${DeleteSuccess}">
						<div class="alert alert-success" role="alert">
							Coupon Delete successfully!
						</div>
					</div>
					<div th:if="${addError}">
						<div class="alert alert-danger" role="alert">
							Not Enough Quantity!
						</div>
					</div>
				</div>
				<div class="row mb-5">
					<!-- shopping cart -->
					<div class="col-8">
						<div class="container ">
							<!-- shopping cart coupons header -->
							<div class="row m-3 border-top border-bottom fs-5">
								<div class="col">Coupon ID</div>
								<div class="col">Description</div>
								<div class="col">Action</div>
							</div>
							<!-- shopping cart rows -->
							<div class="row m-3 border-bottom" th:each="cartCoupon : ${cartCouponList}">
								<!-- Coupon details -->
								<div class="col mb-3">
									<h5 th:text="${cartCoupon.coupon.id}"></h5>
								</div>
								<div class="col mb-3">
									<h6 th:text="${cartCoupon.coupon.description}"></h6>
								</div>
								
								<div class="col align-self-center">
									<!-- Update coupon quantity in cart form -->
									<form class="needs-validation" novalidate
										th:action="@{/cart/update/{id}(id = ${cartCoupon.id})}" method="post">
										<input type="number" name="qty" th:value="${cartCoupon.quantity}">
										<button class="btn btn-primary">Update Cart</button>
									</form>
									<form th:action="@{/cart/process_order}" method="post" id="paypalForm">
										<input type="hidden" name="claimantId" id ="claimantId" th:value="${claimantId}"> 
										<input type="hidden" name="orderId" id="orderId"> 
										<input type="hidden" name="transactionId" id="transactionId">
										<button class="btn btn-primary">Confirm</button>
									</form>


									<!-- Remove coupon from cart link -->
									<form th:action="@{/cart/remove/{id}(id=${cartCoupon.id})}" method="post">
										<button type="submit" class="btn btn-danger">Remove</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
		</main>
		<div th:replace="fragment/footer"></div>
	</div>
</body>

</html>