<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Couponify - Graph</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #d2b48c !important; /* Darker beige */
            background-size: cover;
            background-position: center center;
            background-repeat: repeat-y;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div th:replace="fragment/header"></div>
    <br>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Graphs</h2>
        </div>
        <iframe
            title="Test1"
            width="1140"
            height="541.25"
            src="https://app.powerbi.com/reportEmbed?reportId=d9879806-ea0e-4a1f-99d4-5a71c131e477&autoAuth=true&ctid=f688b0d0-79f0-40a4-8644-35fcdee9d0f3"
            frameborder="0"
            allowFullScreen="true">
        </iframe>
    </div>
</body>
</html>
