<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Coupon - Home</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<style>
  body{
    background-image: url("/images/hero_1.jpg");
  }
</style>
<body>
  <div th:replace="fragment/header"></div>
  <br>
  <div class="container">
        <div class="py-5 text-center">
			<div class="h1">Welcome to Couponify!</div>
    <main>
	  <div sec:authorize="isAuthenticated()">
	  	<h4 class="text-center">Hello <span sec:authentication="principal.username"></span>!</h4>
	  </div>
    </main>
  </div>
  </div>
  <div th:replace="fragment/footer"></div>
  
</body>
</html>
