<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Greenify - Sign Up</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/signup.css">
    <style>
        .center h2 {
            text-align: center;
            margin-top: 20px; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
    <div class="center">
        <h2>Create an account</h2>
        <form th:action="@{/signup/save}" method="post" th:object="${claimant}">
            <div class="txt_field">
                <input type="text" th:field="*{name}" required autocomplete="new-name">
                <span></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text" th:field="*{username}" required autocomplete="new-username">
                <span></span>
                <label>Username</label>//t
            </div>
            <div class="txt_field">
                <input type="email" th:field="*{email}" required autocomplete="new-email">
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" th:field="*{password}" required autocomplete="new-password">
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Sign Up">
            <div class="signup_link">
                Already a member? <a href="/login">Login</a>
            </div>
        </form>
    </div>
</body>
</html>
