<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/booklink_logo.png">
        <span class="navbar-brand h1">Coupon</span>
      </a>
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link active" href="/vendors">Vendors</a>
		<a class="nav-link active" href="/vendors/add">Add Vendors</a>
        <a class="nav-link active" href="/coupons">Coupon</a>
		
        <a class="nav-link active" href="/aboutus">About Us</a>
        <a class="nav-link" href="#">Contact Us</a>

      </div>
    </div>
  </nav>
</header>