<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/booklink_logo.png">
        <span class="navbar-brand h1">Coupon</span>
      </a>
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link active" href="/vendors">Vendors</a>
		<a class="nav-link active" href="/vendors/add">Add Vendors</a>
        <a class="nav-link active" href="/coupons">Coupons</a>
		<a class="nav-link active" href="/coupons/add">Add Coupons</a>
		<a class="nav-link active" href="/claimants">Claimants</a>
		<a class="nav-link active" href="/claimants/add">Add Claimants</a>
		<a class="nav-link active" href="/issuer">Issuer</a>
		<a class="nav-link active" href="/issuer/add">Add Issuer</a>
		
        <a class="nav-link active" href="/aboutus">About Us</a>
        <a class="nav-link" href="#">Contact Us</a>

      </div>
    </div>
  </nav>
</header>